.headpage{
    background-color: rgb(6, 141, 232);
    background-image: url(../img/pattern.png);
    height: 110px; 
    background-position: center; 
    text-align: left;
}

#headimage{
    height: 141px;
    width: 242px;
}

.txtlightgrey{
    color: #847e7e;;
}

.txtblue{
    color: #0093ec;
}

h1{
    font-size: 35px;
    margin-bottom: 1px;
}

.highlighted{
    background-color: yellow;
}

.unorderlist{
    margin-left: -28px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
thead{
    background-color: aqua;

}
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    width: 600px;
  }

.txtwhite{
    color: white;

}
